### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.ipr
*.iws
*.iml
.idea

### Gradle ###
build/
.gradle/
run/
build.gradle.bak

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
*.launch

### Porting leftovers that are not part of the mod source tree ###
/com/
/reignofnether.mixins.json
